*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.container{
  width: 1300px;
  margin: 0px auto;
}

header{
  height: 523px;
  background-image: url("http://unsplash.it/1300/523");
  position: relative;
}
header:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 96, 172, .6);
}

nav{
  position: relative;
  padding-left: 10px
}

nav ul{
  display: inline-block;
  list-style: none;
}
nav li{
  display: inline-block;
}
.main-nav{
  text-align: right;
  padding-left: 0px;
  margin-left: 591px;
  font-family: 'Oswald';
  font-size: 17.5px;
  text-transform: uppercase;
  color: rgb(7, 48, 75);
}
.about{
  position: relative;
  top: -33.3px;
  left: -203px;
  color: rgb(7, 48, 75);
  text-decoration: none;
}
.search{
  position: relative;
  top: -33.3px;
  left: -191px;
  color: rgb(7, 48, 75);
  text-decoration: none;
}
.fa-search{
  position: absolute;
  top: 21px;
  right: 168px;
  font-size: 16px;
  color:rgb(7, 48, 75);
  -moz-transform: scaleX(-1);/*How i flipped the magnifying glass image*/
       -o-transform: scaleX(-1);
       -webkit-transform: scaleX(-1);
       transform: scaleX(-1);
       filter: FlipH;
       -ms-filter: "FlipH";
}
.brand{
    display: inline-block;
    padding-left: 139px;
}

.company-name{
  vertical-align: middle;
  text-transform: uppercase;
  position: relative;
  top: -8px;
  letter-spacing: -.5px;
}

.logo{
  position: relative;
  top: 10px;
  left: -8px;
  color: rgb(7, 48, 75);
}
header h1, header h3{
/* makes the h1 and h3 come forward*/
  text-align: center;
}
h1{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 97px;
  margin: 0px;
  color: white;
  position: relative;
  top: 117px;
}
.a{
  position: relative;
  left:-8px;
}
.d{
  position: relative;
  left: -2px;
}
.period{
position: relative;
left: -4px;
}
h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 15.2px;
  margin: 0px;
  position: relative;
  top: 102px;
}

h2{
  font-family:'Oswald';
  font-size: 65px;
  text-transform: uppercase;
  position: relative;
  top: -4px;
  left: -1px;
  letter-spacing: -1.3px;
}
.bottom{
  font-family:'Oswald';
  font-size: 65px;
  text-transform: uppercase;
  position: relative;
  top: -85px;
  margin: 0px;
  letter-spacing: -.6px;
}
.subtitle{
  padding-left: 34.2px;
  font-family: 'Open Sans';
  position: relative;
  bottom: 5px;
}
.name{
  font-size: 13px;
}
.marie{
  letter-spacing: -.5px;
}
.date{
  padding-left: 10px;
  font-size: 13px;
}
.date1{
  padding-left: 4px;
  text-decoration: underline;
}
.text{
  position: relative;
  top:-107px;
}
.paragraphs{
  position: relative;
  top: 11px;
  font-size: 16px;
}
.body{
  position: relative;
}

.jerry{
  width: 60px;
  height: 60px;
}
.left{
  display: inline-block;
  margin-left: 163px;
  position: relative;
  width: 613px;
}

.right{
  display: inline-block;
  margin-right: 163px;
  position: relative;
  width: 278px;
  vertical-align: middle;
  padding-left: 45px;
  text-align: left;
}

ul{
  list-style: none;
}
